# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example
!.env.sample

# Logs
logs/
*.log

# Uploaded Files
uploads/

# Coverage
coverage/

# Build
dist/

# OS Files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
 